{{#each blogs}}
{{>blogs}}
<h2 class="blogTitle">{{this.title}}</h2>
<p class="blogContent">{{this.content}}, {{make_date createdAt}}
</p> 
{{/each}}
<br>

{{#if loggedIn}}
<div class="authorWrapper row-4">
    <a href="#" class="addPeanut"><button class="navBtn">Comment</button></a>
    <i class="bogPostBy col-4 offset-lg-8 offset-md-7">
        <sm>{{user.username}}, {{make_date createdAt}}</sm>
    </i>
    <div class="commentEditBtns col-4 offset-lg-10 offset-md-9">
        <a href="#" class="editPeanut"><button class="navBtn">edit</button></a>
        <a href="#" class="editPeanut"><button class="navBtn">delete</button></a>
    </div>
</div>
<div class="commentInput row-12">
    <input class="col-8"><a class="commentSaveBtn col-4"><button class="navBtn">Save Comment</button></a>
</div>

<hr>

<div class="peanutWrapper row-12">
    <div class="eachPeanut row-3">
        <p class="peanutGallery">
            I am comments, I have an opion, am i correct? most likely no.
            I am comments, I have an opion, am i correct? most likely no.
            I am comments, I have an opion.
        </p>
        <div class="authorWrapper row 4">
            <i class="bogPostBy row-2 offset-lg-5 offset-md-4">
                <sm>By Author Here at 02/22/222 24:00:24 </sm>

            </i>

            <div class="commentEditBtns col-4 offset-lg-10 offset-md-9">
                <a href="#" class="editPeanut"><button class="navBtn">edit</button></a>
                <a href="#" class="editPeanut"><button class="navBtn">delete</button></a>
            </div>

        </div>
    </div>
</div>
{{/if}}