
{{#each blogs}}
{{>blogs}}
<h2 class="blogTitle">{{this.title}}</h2>
<p class="blogContent">{{this.content}}, {{make_date createdAt}}
</p> 

<br>


<div class="authorWrapper row-4">
    <a href="#" class="addPeanut"><button class="navBtn">Comment</button></a>
    <i class="bogPostBy col-4 offset-lg-8 offset-md-7">
        <sm>{{user.username}}, {{make_date createdAt}}</sm>
    </i>
    <div class="commentEditBtns col-4 offset-lg-10 offset-md-9">
        <a href="#" class="editPeanut"><button class="navBtn">edit</button></a>
        <a href="#" class="editPeanut"><button class="navBtn">delete</button></a>
    </div>
</div>
<div style="display: none"class="commentInput row-12">
    <input  class="col-8"><a class="commentSaveBtn col-4"><button class="navBtn">Save Comment</button></a>
</div>
{{/each}}

{{#each comments as |comment|}}
{{>comment}}
<div class="peanutWrapper row-12">
    <div class="eachPeanut row-3">
        <p class="peanutGallery">
           {{comment.content}}
        </p>
        <div class="authorWrapper row 4">
            <i class="bogPostBy row-2 offset-lg-5 offset-md-4">
                <sm>{{comment user.username}} {{make_date createdAt}}</sm>

            </i>

            <div class="commentEditBtns col-4 offset-lg-10 offset-md-9">
                <a href="#" class="editPeanut"><button class="navBtn">edit</button></a>
                <a href="#" class="editPeanut"><button class="navBtn">delete</button></a>
            </div>

        </div>
    </div>
</div>

<hr>
{{/each}}